Repository Star-Academy/codestar-documents, pull requests merged in 2022-08, with the labels that each got.

#61 CI/CD phase
  docs/software-engineering/phase06-cicd.md
Labels: Software Engineering, Typo

#62 Update phase06-cicd.md
  docs/software-engineering/phase06-cicd.md
Labels: Software Engineering, Typo

#69 Update phase07-SQL.md
  docs/software-engineering/phase07-SQL.md
Labels: Software Engineering, Typo

#68 Update phase08-EFCore.md
  docs/software-engineering/phase08-EFCore.md
Labels: Software Engineering, Typo

#74 Fix ef core link
  docs/software-engineering/phase08-EFCore.md
Labels: Software Engineering, Accepted

#85 Update phase07-SQL.md
  docs/software-engineering/phase07-SQL.md
Labels: Software Engineering, Typo, Accepted

#86 Update phase08-EFCore.md
  docs/software-engineering/phase08-EFCore.md
Labels: Software Engineering, Typo, Accepted

#88 Update phase07-SQL.md
  docs/software-engineering/phase07-SQL.md
Labels: Software Engineering, Typo, Accepted

#79 Update phase09-unit-testing.md
  docs/frontend/phase09-unit-testing.md
Labels: Frontend, Typo

#81 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Frontend, Typo

#82 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#89 Update phase07-SQL.md
  docs/software-engineering/phase07-SQL.md
Labels: Software Engineering, Typo, Accepted
