Repository Star-Academy/codestar-documents, pull requests merged in 2022-07, with the labels that each got.

#13 Update phase01-sandbox.md
  docs/frontend/phase01-sandbox.md
Labels: Frontend, Typo

#15 Small changes in phase02-health.md
  docs/intro/phase02-health.md
Labels: Typo, General

#19 [ADD] frontend - more grid tutorial links
  docs/frontend/phase02-pilot.md
  docs/frontend/phase04-css-and-sass.md
Labels: Frontend, Improvement

#23 update phase-05 animation.md
  docs/frontend/phase05-animation.md
Labels: Frontend, Typo

#24 Update phase06-clean-code.md
  docs/frontend/phase06-clean-code.md
Labels: Frontend

#32 Update phase08-authentication.md
  docs/frontend/phase08-authentication.md
Labels: Frontend, Typo

#33 Update phase08-authentication.md
  docs/frontend/phase08-authentication.md
Labels: Frontend, Typo

#37 Update phase08-authentication.md
  docs/frontend/phase08-authentication.md
Labels: Frontend, Typo

#40 Update phase05-animation.md
  docs/frontend/phase05-animation.md
Labels: Frontend, Typo

#42 Update phase04-git.md
  docs/intro/phase04-git.md
Labels: Typo, General

#43 Update phase04-git.md
  docs/intro/phase04-git.md
Labels: Typo, General

#45 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#46 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#47 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#27 Update SOLID learning resources
  docs/software-engineering/phase02-clean-code.md
Labels: Software Engineering, Improvement

#28 Edited wrong character name
  docs/software-engineering/phase03-c-sharp.md
Labels: Software Engineering, Typo

#49 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#50 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#51 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#53 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#35 Update phase08-authentication.md
  docs/frontend/phase08-authentication.md
Labels: Frontend, Typo

#54 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#55 Update phase01-presentation.md
  docs/general/phase01-presentation.md
Labels: Typo, General

#59 Update phase02-grammar.md
  docs/general/phase02-grammar.md
Labels: Typo, General
